input{
    margin: 3px;
    width: 85%;
    font-size: 18px;
    height: 40px;
    font-family: arial;
}

.menu{
    border-bottom: 1px solid black;
}

.container-fluid{
    border: 1px solid black;
}

.game{
    /* PARTE DE FORA*/
    width: min-content;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container{
    /* PARTE DE DENTRO */
    width: 55vw;
    text-align: center;
    margin: 0 auto;
}

.tips{
    text-align: center;
    font-size: 3vmin;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 85px;
}

.notes{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.note{
    background-color: rgb(241, 153, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(250, 109, 109);
    margin: 3vw;
    height: 40px;
    width: 40px;
}